{
    "timeout": 1,
    "source": {
        "directories": [
            "src"
        ]
    },
    "logs": {
        "text": "infection.log"
    },
    "mutators": {
        "@default": true,
        "IncrementInteger": {
            "ignore": [
                "Jasny\\SwitchRoute\\Generator::generate::56",
                "Jasny\\SwitchRoute\\Generator::structureEndpoints::125"
            ]
        },
        "DecrementInteger": {
            "ignore": [
                "Jasny\\SwitchRoute\\Generator::generate::56"
            ]
        },
        "TrueValue": {
            "ignore": [
                "Jasny\\SwitchRoute\\Generator::generate::56"
            ]
        },
        "FunctionCallRemoval": {
            "ignore": [
                "Jasny\\SwitchRoute\\Generator::tryFs::74"
            ]
        },
        "Continue_": {
            "ignore": [
                "Jasny\\SwitchRoute\\Generator::structureEndpoints::118"
            ]
        }
    }
}
