{
    "timeout": 1,
    "source": {
        "directories": [
            "src"
        ]
    },
    "logs": {
        "text": "infection.log",
        "badge": {
            "branch": "master"
        }
    },
    "mutators": {
        "@default": true,
        "FunctionCallRemoval": {
            "ignore": [
                "Jasny\\SwitchRoute\\Generator::tryFs"
            ]
        }
    }
}
